# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo

# Development files
.env
.env.*
!.env.example
*.log

# Testing
coverage
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# IDE
.vscode
.idea

# Documentation
*.md
